@use "sass:map";
@use "base/utils" as *;
@use "base/globals" as *;

.header {
  margin-top: 5rem;
  margin-bottom: 2rem;

  img {
    margin: 0 auto;
    width: clamp(3.5rem, calc(5vw + 1.5rem) , 5.625rem);
  }
}

.launching {
  text-align: center;

  &__title {
    padding-bottom: 0.5em;
  }

  &__text {
    color: var(--clr-neutral-dark-blue);
    margin-bottom: 1.75rem;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-auto-flow: dense;
    gap: 0.5rem;
    max-width: 90%;
    margin: 0 auto;

    @include mq(medium) {
      flex-direction: row;
      grid-template-columns: 2fr 12.5rem;
      grid-template-rows: 1fr 1.5rem;
      
      .form-group {
        flex-grow: 1;
        text-align: start;
        grid-row: 1 / 3;
        align-self: start;
        
        .error-message {
          padding-left: 2rem;;
        }
      }

      button {
        flex-grow: 0;
        justify-self: flex-end;
        grid-row: 1 / 2;
      }
    }

    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__image {
    margin-top: 5rem;

    @include mq(medium) {
      max-width: 90%;
      margin: 0 auto;
      margin-top: 2.5rem;
    }

    @include mq(large) {
      
      margin-top: 1rem;
    }
  }
}

.footer {
  .copyright {
    margin-top: 1.75rem;
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: clamp(map.get($fontsizes-mobile, "copyright"), calc(1vw + 0.25rem) , map.get($fontsizes-desktop, "copyright"));
    color: var(--clr-neutral-gray);
  }
}

.social-links {

  &__list {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  &__link {
    text-decoration: none;
    color: var(--clr-primary);
  }

  .icon {
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--clr-secondary-blue);
    border-radius: 50%;
    font-size: 1rem;

    // to center the icons in the circle
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
      border: 1px solid var(--clr-primary);
      background-color: var(--clr-primary);
      color: white;
    }
  }

  .sr-only {
    visibility: hidden;
  }
}